<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 text-center">Liste des devis</h1>
  </div>
  <div class="form-inline col-4 ">
    <input class="form-control col-12" [(ngModel)]="searchInput" placeholder="Rechercher un devis" type="search">
  </div>
</div>

<table class="table table-striped">
  <thead class="">
  <tr>
    <th scope="col">#</th>
    <th scope="col">Client</th>
    <th scope="col">Véhicule</th>
    <th scope="col">Prix Ht</th>
    <th scope="col">Date création du dossier</th>
    <th scope="col">Statut</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>

  <tbody *ngIf="devis.length > 0; else elseBlock">
  <tr *ngFor="let devis of devis | rechercheDevis:searchInput">
    <th scope="row">{{devis.id}}</th>
    <td>{{devis.client.nom}} {{devis.client.prenom}}</td>
    <td>{{devis.vehicule.marque}} {{devis.vehicule.modele}}</td>
    <td>{{devis.prixHt}}€</td>
    <td>{{devis.dateCreation | date: 'longDate'}}</td>
    <td id="trueState" *ngIf="devis.etat == true"><p>Validé</p></td>
    <td id="falseState" *ngIf="devis.etat == false">En cours</td>
    <td>
      <button type="button" class="btn btn-primary mr-2" [routerLink]="['edit', devis.id]"><i class="fa fa-pencil" aria-hidden="true"></i></button>
      <button type="button" class="btn btn-danger mr-2" (click)="deleteDevis(devis)"><i class="fa fa-trash" aria-hidden="true"></i></button>
    </td>
  </tr>
  </tbody>
  <ng-template #elseBlock>
    <tbody>
    <tr>
      <td colspan="3" class="text-center">Aucun devis pour le moment...</td>
    </tr>
    </tbody>
  </ng-template>
</table>
<div>
  <button type="button" class="btn btn-info mr-2" [routerLink]="['add']">Ajouter un devis</button>
</div>

