<ul class="nav d-flex justify-content-center">

  <li class="nav-item">
    <a class="nav-link alert-link" [routerLink]="['fiches-entretien']">Fiches d'entretien</a>
  </li>

  <li class="nav-item">
    <a class="nav-link alert-link" [routerLink]="['stock-pieces']">Gestion du stock</a>
  </li>
  <li class="nav-item">
    <a class="nav-link alert-link" [routerLink]="['liste-taches']">Gestion des tâches</a>
  </li>
  <li class="nav-item">
    <a class="nav-link alert-link" [routerLink]="['gestion-clients']">Gestion des clients</a>
  </li>
</ul>
