.app-error {
  background-color: red;
}

.app-message-error {
  color: red;
}

#roleHeader {
  margin-bottom: 100px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#saveBtn {
  margin-right: 50px;
}
