<ul class="nav bg-info">
  <a routerLink=""><img class="logo" src="../../../assets/img/car.png" alt="voiture"></a>
  <div class="container d-flex justify-content-end">
    <li class="nav-item">
      <a class="nav-link alert-link" [routerLink]="['admin']">Administrateur</a>
    </li>
    <li class="nav-item">
      <a class="nav-link alert-link" [routerLink]="['mecanicien']">Mécanicien</a>
    </li>
    <li class="nav-item">
      <a class="nav-link alert-link" [routerLink]="['commercial']">Commercial</a>
    </li>
  </div>
</ul>
