<div id="commercial">
  <h2 class="text-center">Commercial</h2>
  <ul class="nav bg-info d-flex justify-content-center">
    <li class="nav-item">
      <a class="nav-link alert-link" [routerLink]="['commandes']">Commande Vehicule</a>
    </li>
    <li class="nav-item">
      <a class="nav-link alert-link" [routerLink]="['factures-devis']">Facture - Devis</a>
    </li>
    <li class="nav-item">
      <a class="nav-link alert-link" [routerLink]="['vehicules']">Vehicules</a>
    </li>
  </ul>
</div>
