<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 text-center">Liste des factures</h1>
  </div>
  <div class="form-inline col-4 ">
    <input class="form-control col-12" [(ngModel)]="searchInput" placeholder="Rechercher une facture" type="search">
  </div>
</div>

<table class="table table-striped">
  <thead class="">
  <tr>
    <th scope="col">#</th>
    <th scope="col">Client</th>
    <th scope="col">Véhicule</th>
    <th scope="col">Prix Ttc</th>
    <th scope="col">Date création de la facture</th>
<!--    <th scope="col">Actions</th>-->
  </tr>
  </thead>

  <tbody *ngIf="factures.length > 0; else elseBlock">
  <tr *ngFor="let facture of factures | rechercheFacture:searchInput">
    <th scope="row">{{facture.id}}</th>
    <td><a [routerLink]="['detail', facture.id]">{{facture.client.nom}} {{facture.client.prenom}}</a></td>
    <td>{{facture.vehicule.marque}} {{facture.vehicule.modele}}</td>
    <td>{{facture.montantTtc}}€</td>
    <td>{{facture.dateCreation | date: 'longDate'}}</td>
    <td>
<!--      <button type="button" class="btn btn-primary mr-2" [routerLink]="['edit', facture.id]"><i class="fa fa-pencil" aria-hidden="true"></i></button>-->
<!--      <button type="button" class="btn btn-danger mr-2" (click)="deleteDevis(facture)"><i class="fa fa-trash" aria-hidden="true"></i></button>-->
    </td>
  </tr>
  </tbody>
  <ng-template #elseBlock>
    <tbody>
    <tr>
      <td colspan="3" class="text-center">Aucun facture pour le moment...</td>
    </tr>
    </tbody>
  </ng-template>
</table>
<div>
<!--  <button type="button" class="btn btn-info mr-2" [routerLink]="['add']">Ajouter un facture</button>-->
</div>

