<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 text-center">Liste des pièces</h1>
  </div>
  <!--  <div class="form-inline col-4 ">-->
  <!--    <input class="form-control col-12"  [(ngModel)]="searchText" placeholder="rechercher une fiche" type="search" >-->
  <!--  </div>-->
</div>

<table class="table table-striped">
  <thead class="">
  <tr>
    <th scope="col">#</th>
    <th scope="col">Libellé</th>
    <th scope="col">Quantité</th>
    <th scope="col">Date de saisie</th>
  </tr>
  </thead>


  <tbody *ngIf="pieces.length > 0; else elseBlock">
  <tr *ngFor="let piece of pieces">
    <th scope="row">{{piece.id}}</th>
    <td>{{piece.libelle}}</td>
    <td>{{piece.quantite}}</td>
    <td>{{piece.dateSaisie | date: 'longDate'}}</td>
    <td>
      <button type="button" class="btn btn-primary mr-2" [routerLink]="['edit', piece.id]">Modifier</button>
    </td>
  </tr>
  </tbody>
  <ng-template #elseBlock>
    <tbody>
    <tr>
      <td colspan="3" class="text-center">Aucune pièce pour le moment...</td>
    </tr>
    </tbody>
  </ng-template>
</table>
<div>
  <button type="button" class="btn btn-info mr-2" [routerLink]="['add']">Ajouter une pièce</button>
</div>
