<h1>Nouvelle fiche client Atelier</h1>

  <form (ngSubmit)="onSubmit()" [formGroup]="vForm" >

    <h2>Informations générales</h2>

    <div>
      <label for="nomControl">
        Nom
      </label>

      <input class="app-error" id="nomControl" type="text"

      [ngClass]="{'app-error': nomControl?.invalid && (nomControl?.dirty || nomControl?.touched)}"
      formControlName="nomControl"/>
      <span class="app-message-error" [hidden]="nomControl?.valid || nomControl?.pristine">
        Il y a une erreur !
      </span>
      <!-- <div *ngIf="vForm.controls['nom'].invalid && (vForm.controls['nom'].dirty || vForm.controls['nom'].touched)" class="alert alert-danger">Le nom est obligatoire</div> -->
    </div>


    <button type="submit" class="btn btn-primary">Ajouter le client</button>
  </form>
